<h3>Welcome</h3>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>Download the book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), :class => 'btn btn-success btn-large' %>
  <% end %>
<% else %>
  <h3>Purchase the book.</h3>
  <article>
    <label class="amount">
      <%= image_tag 'rubyonrails.png', size: '60x60' %>
      <div><%= Rails.application.secrets.product_title %></div>
      <span><%= number_to_currency(Rails.application.secrets.product_price.to_f/100) %></span>
    </label>
    <%= render :partial => 'purchase' %>
  </article>
<% end %>
